
.form-section__form{
  max-width: 451px;
  padding: 32px 0 56px 0;
  margin-top: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.your-toast {
    /* Sizning dizayningiz */
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .your-toast__err{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
  }

.form__error{
    font-size: 16px;
    font-weight: 700px;
    color: rgb(231, 32, 32);
}
 .notfoundbtn{
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e4e3e3
 }
 .icon-wrap{
  margin-top: 32px;
 }
 .mobile-icon{
 display: none;
  max-width: 451px;
  margin-bottom: 30px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
 }

 @media only screen and (max-width:943px){
  .form-section__form{
    max-width: 400px;
    padding: 22px 0 36px 0;
    margin-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
 }

@media only screen and (max-width:744px){
  .form-section__form{
    max-width: 300px;
    padding: 22px 0 36px 0;
    margin-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
}

@media only screen and (max-width:643px){  
    .form-section__form{
      border: none;
      max-width: 451px;
     margin: 0 auto;
     padding: 18px 0 20px 0;
    }
    .iconsdesc{
      display: none;
    }
    .mobile-icon{
      display: flex;
      margin-bottom: 30px;
    }
  .icon-wrap{
    margin-top: 0;
  }
}
