.homepage-section{
    padding: 82px 0;
    position: relative;
    height: 100%;
    background:url("../assets/Images/Svg/line3.svg"), url("../assets/Images/Svg/line2.svg"), url('../assets/Images/Svg/line1.svg'), url("../assets/Images/Png/jangchiback.webp"), url("../assets/Images/Png/kamalakback.webp"), url("../assets/Images/Png/mainback\ \(1\).webp");
    background-size:10px 34.667px , 7px 52px , 8.5px 104px,520px 520px ,550px 100% , cover;
    background-position-x:calc(50% + 522px),calc(50% + 512px),calc(50% + 502px),calc(50% + 200px), calc(50% + 200px),center;
    background-position-y:calc(50% - 250px) , calc(50% - 242px),calc(50% - 219px) , center, center, center;
    background-repeat: no-repeat;
    backdrop-filter: blur(31px) !important;
}
body{
    background: #000;
    backdrop-filter: blur(2px);
}
.clock-wrap{
    max-width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}
.clock__text{
color: #FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.clockhome{
    position: absolute;
    right: 10%;
    bottom: 90px;
}
@media only screen and (max-width:1062px){
    .homepage-section{
        padding: 82px 0;
        height: 100%;
        background: url("../assets/Images/Png/jangchiback.webp"), url("../assets/Images/Png/kamalakback.webp"), url("../assets/Images/Png/mainback\ \(1\).webp");
        background-repeat: no-repeat;
        background-size:400px 400px ,420px 100% , cover;
        background-position-x:calc(50% + 200px), calc(50% + 200px),center;
        background-position-y: center;
        backdrop-filter: blur(31px) !important;
    } 
}

@media only screen and (max-width:943px){
    .homepage-section{
        padding: 50px 0;
        height: 100%;
        background: url("../assets/Images/Png/jangchiback.webp"), url("../assets/Images/Png/kamalakback.webp"), url("../assets/Images/Png/mainback\ \(1\).webp");
        background-repeat: no-repeat;
        background-size:300px 300px ,320px 100% , cover;
        background-position-x:calc(50% + 250px), calc(50% + 250px),center;
        background-position-y:center;
        backdrop-filter: blur(31px) !important;
    } 
    .clockhome{
        position: absolute;
        right: 10%;
        bottom: 55px;
    }
}
@media only screen and (max-width:830px){
    .homepage-section{
        padding: 50px 0;
        height: 100%;
        background: url("../assets/Images/Png/jangchiback.webp"), url("../assets/Images/Png/kamalakback.webp"), url("../assets/Images/Png/mainback\ \(1\).webp");
        background-repeat: no-repeat;
        background-size:300px 300px ,320px 100% , cover;
        background-position-x:calc(50% + 200px), calc(50% + 200px),center;
        background-position-y: center;
        backdrop-filter: blur(31px) !important;
    } 
}

@media only screen and (max-width:712px){
    .homepage-section{
        padding: 50px 0;
        height: 100%;
        background: url("../assets/Images/Png/jangchiback.webp"), url("../assets/Images/Png/kamalakback.webp"), url("../assets/Images/Png/mainback\ \(1\).webp");
        background-repeat: no-repeat;
        background-size:300px 300px ,320px 100% , cover;
        background-position-x:calc(50% + 150px), calc(50% + 150px),center;
        background-position-y: center;
        backdrop-filter: blur(31px) !important;
    } 
}

@media only screen and (max-width:643px){
    .homepage-section{
        padding-top: 36px;
        padding-bottom: 388px;
        background-image: url("../assets/Images/Png/person.webp"), url("../assets/Images/Png/mobilebac.webp"),url("../assets/Images/Png/mainback\ \(1\).webp") ;
        background-repeat: no-repeat;
        background-position: center bottom,center bottom , center;
        background-size: 388px 377px,100% 350px ,cover;
    }
    .clockhome{
        display: none;
    }
}